@include normalize();

html, body, div#root {
  height: 100%;
}

// set font-family to inital to override twitter bootstrap's font-family
// DO NOT USE Helvetica Neue to display tibetain
// chararacter (\u3897) will not display properly.
body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: 'sans-serif';
}

// disable default outline
* {
  outline: none;
}

// node-sass can't parse \2b well
.glyphicon-plus:before {
  content: "\002b";
}

.hidden {
  display: none !important;
}
